*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-style: normal;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.up-block {
  color: #e7e9fc;
  color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
.nav-header {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-dark {
  color: #2e2f42;
}
.logo-down {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.logo-light {
  color: #f4f4fd;
}
.page-nav {
  display: flex;
  gap: 40px;
}
.link {
  color: #2e2f42;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: inline-flex;
  align-items: flex-start;
  padding: 24px 0;
  position: relative;
}
.link:hover,
.link:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link.active {
  position: relative;
}
.link.active::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
}
.adress-header {
  font-style: normal;
}
.page-adress {
  display: flex;
  gap: 40px;
}
.adress-info {
  gap: 40px;
}
.adress {
  color: #434455;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.adress:hover,
.adress:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.central-block {
}
.page-solutions {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1440px;
  margin: auto;
}
.container.solution {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}
.page-title {
  color: #fff;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
}
.page-button {
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  display: block;
  margin: 48px auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  align-items: flex-start;
  gap: 10px;
}
.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-factors {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  display: flex;
  gap: 24px;
}
.information {
  padding: 32px 0;
  border: 1px solid #e7e9fc;
  text-align: center;
}
.factors-items {
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.benefits-icons {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  padding: 24px 100px;
}
.section-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}
.page-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.page-title-inside {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  margin-bottom: 72px;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.list-first {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.list-foto {
  background: #f4f4fd;
  width: 264px;
  height: 260px;
}
.list-name {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.list-prof {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.social {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: currentColor;
}
.page-portfolio {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-items {
  width: calc((100% - 24px * 2) / 3);
  background: var(--WHITE, #fff);
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
}
.portfolio-items:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-wrapper {
  position: relative;
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  overflow: hidden;
}
.list-portf {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.overlay {
  position: absolute;
  padding: 40px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  background: var(--IRIS, #4d5ae5);
}
.portfolio-items:hover .overlay {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.information-portf {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.down-block {
  background: #2e2f42;
  padding: 100px 0;
}
.text-footer {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}
.footer-container {
  display: flex;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-logo {
  margin-right: 120px;
}
.social-footer-content {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.social-item-footer {
  width: 40px;
  height: 40px;
}
.social-footer {
  display: inline-flex;
  gap: 16px;
  align-items: flex-start;
  margin-top: 16px;
}
.social-link-footer {
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
